In [1]:
import numpy as np
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize

In [3]:
x='CREATE TABLE Persons (PersonID int(10),FirstName varchar(20),LastName varchar(50),Mob int(10));'

In [4]:
#x='CREATE TABLE Persons (PersonID int(10),LastName var(20),Address varchar(50));'
def columnname_varType(k):
    column_i=[]
    varType_i=[]
    Len_i=[]
    while x[k]!=')':
        ai=[]
        '''if x[k]==')' and x[k+1]==';':
            break'''
        for k in range(k+1,len(x)):
          
            if x[k]!=' ':
                ai.append(x[k])
            else:
                break
       
        col_i=ai[0]
        for i in range(len(ai)-1):
            col_i=col_i+ai[i+1]

        if x[k]==' ':
            var=[]
            for k in range(k+1,len(x)):
                if x[k]!='(' and x[k]!=')':
                    var.append(x[k])
                else:
                    break

            var_i=var[0]
            for i in range(len(var)-1):

                var_i=var_i+var[i+1]

        if x[k]=='(':
            
            length=[]
            for k in range(k+1,len(x)):
                if x[k]!=')':
                    length.append(str(x[k]))
                else:
                    break
            
            len_i=length[0]
            for i in range(len(length)-1):

                len_i=(len_i)+(length[i+1])
            length_i=int(len_i)
            
        k=k+1
            
    
        column_i.append(col_i)
        varType_i.append(var_i)
        Len_i.append(length_i)
    
    return column_i,varType_i,Len_i

In [5]:
#i=21
def insert(i,column_i,varType_i,Len_i):
    
    colim=[]
    coli=[]
    for i in range(i,len(y)):
      
        if y[i]!=',':
            coli.append(y[i])
           
        else:
            break
   
    
    col_1=coli[0]
    for j in range(len(coli)-1):
        col_1=col_1+coli[j+1]
    
    colim.append(col_1)
    
    
    while y[i]!=')' and y[i]!=' ':
    
        if y[i]==',':
            if y[i+1]==" ":
            
                if y[i]!=')':
                    if y[i+1]!=";":

                        coli=[]
                        for i in range(i+2,len(y)-1):
                            
                            if y[i]!=',' and y[i]!=')':
                                coli.append(y[i])

                            else:
                                break
                        
                        col_i=coli[0]
                        for j in range(len(coli)-1):
                            col_i=col_i+coli[j+1]
                    
                        colim.append(col_i)
                    else:
                        print("Wrong at ; ")

                else:
                    break 
            else:
                print("Wrong at Space")
                break
    return colim,i

In [7]:
x='CREATE TABLE Persons (PersonID int(10),FirstName varchar(20),LastName varchar(50),Mob int(10));'
#x=input("Enter create command")
x1=word_tokenize(x)
#print(x1)

if x1[-1]==";":
    if x1[0]=="CREATE" or "create":
        if x1[1]=="TABLE" or  "table":
            if x[12]==' ':
                l=[]
                for i in range(13,len(x)):
                    if(x[i]!=' '):
                        l.append(x[i])
                    else:
                        k=i
                        break
                tablename=l[0]
                for i in range(len(l)-1):
                    #print(l[i])
                    tablename=tablename+l[i+1]
                print("TableName=",tablename)
                #print(k)
                if(x[k+2]!=' '): 
                    column_i=[]
                    varType_i=[]

                    column_i,varType_i,Len_i=columnname_varType(k+1)
                    
                    A=[column_i]
                    #B=[]                    
                    print(column_i,varType_i,Len_i)
                    
                else:
                    print('Wrong Syntax "space"')
            else:
                print('Wrong Syntax "space"')
        else:
            print("IT should be TABLE")
    else:
        print("IT should be CREATE")
else:
    print("Termination is required")
#print(A)

TableName= Persons
['PersonID', 'FirstName', 'LastName', 'Mob'] ['int', 'varchar', 'varchar', 'int'] [10, 20, 50, 10]

In [34]:
y='INSERT INTO Persons (PersonID, FirstName, LastName, Mob) VALUES (22, Rocky, kkkr, 7556545);'
y1=word_tokenize(y)
#print(y1)
if y1[-1]==";":
    if y1[0]=="INSERT" or "insert":
        if y1[1]=="INTO" or "into":
            if y1[2]==tablename:
                for i in range(0,len(y)):
                    #print("you",y[i])
                    if y[i]!="(":
                        i=i+1
                        #print(i)
                    else:
                        break
                if(y1[3]=='('):
                    i=i+1
                    k=[]
                    #print(i)
                    column_insert,i=insert(i,column_i,varType_i,Len_i)
                    if (column_insert)==(column_i):
                        i=i+8
                        #print(i)
                        
                        index_y1 = 3+len(column_i)+(len(column_i)-1)+1
                        if y1[index_y1]==")":
                            if y1[index_y1+1]=="VALUES" or "values":
                                if(y1[index_y1+2]=='('):
                                    i=i+2
                                    #print(i)
                                    column_Values,i=insert(i,column_i,varType_i,Len_i)
                                    #print(column_Values)
                                    for c in range(0,len(varType_i)):
                                        try:
                                            if varType_i[c]=='int':
                                                #print(c)
                                                k=int(column_Values[c])
                                                print("column_Values new is",column_Values)
                                                if(y[i+1]==';'):
                                                    A.append(column_Values)
                                                    print("Table is ",A)
                                                    break
                                                else:
                                                    print('Missig ; ') 
                                        except:
                                            print("INTEGER type are not entered")
                                            break
                                else:
                                    print('Wrong Syntax  ( ')
                               
                            else:
                                print("It should be VALUES")
                        else:
                            print("It should be ( ")
                    else:
                        print("column name inncorrect missing") 
                else:
                    print("It should be ( ")
                    
            else:
                print("Table name is wrong")
        else:
            print("It should be INTO")
    else:
        print("It should be INSERT")
else:
    print("It should be ; ")

column_Values new is ['22', 'Rocky', 'kkkr', '7556545']
Table is  [['PersonID', 'FirstName', 'LastName', 'Mob'], ['22', 'Rocky', 'kkkr', '7556545'], ['22', 'Rocky', 'kkkr', '7556545']]

In [35]:
s="SELECT * FROM Persons;"
s=word_tokenize(s)

if s[-1]==";":
    if s[0]=="SELECT":
        for i in range(0,len(column_i)):
            if s[1]==column_i[i]:
                if s[2]=="FROM" or "from":
                    if s[3]==tablename:
                        for j in range(1,len(A)):
                            print(column_i[i],"is",A[j][i])
                    else:
                        print("Tablename is wrong")
                else:
                    print("it should be FROM")
                break
            elif s[1]=="*":
                    print(A)
                    break
            '''else:
                print("Wrong entry column")
                break'''
    else:
        print("it should be SELECT")
else:
    print("it should be ; IN LAST")

[['PersonID', 'FirstName', 'LastName', 'Mob'], ['22', 'Rocky', 'kkkr', '7556545'], ['22', 'Rocky', 'kkkr', '7556545']]

In [41]:
print(A)

[['PersonID', 'FirstName', 'LastName', 'Mob'], ['22', 'Rocky', 'kkkr', '7556545']]

In [36]:
print("Previous Table matrix",A,"\n")

z="DELETE FROM Persons WHERE PersonID = 22;"

z=word_tokenize(z)
if z[-1]==";":
    if z[0]=="DELETE":
        if z[1]=="FROM":
            if z[2]==tablename:
                if z[3]=="WHERE":
                    for k in range(0,len(column_i)):
                        if z[4]==column_i[k]:
                            if z[5]=="=":
                                for k in range(0,len(A)-1):
                                    for j in range(0,len(A[k])-1):
                                        if z[6]==A[k+1][j]:
                                            print("A[k+1][k]",A[k+1][k])
                                            A.pop(k+1)
                                            #break
                                        '''else:
                                            print("Column value is not found k")
                                            break'''
                                break
                            else:
                                print("It should be =")
                        else:
                            print("Column name is wrong")
                            break
                else:
                    print("it should be WHERE")
            else:
                print("TABLE name is wrong")
        else:
            print("it should be FROM")
    else:
        print("it should be DELETE ")
else:
    print("it should be ; IN LAST")
#print(A[1][0])
print(A)

Previous Table matrix [['PersonID', 'FirstName', 'LastName', 'Mob'], ['22', 'Rocky', 'kkkr', '7556545'], ['22', 'Rocky', 'kkkr', '7556545']]

A[k+1][k] 22

IndexError: list index out of range

In [37]:
print(A)

[['PersonID', 'FirstName', 'LastName', 'Mob'], ['22', 'Rocky', 'kkkr', '7556545']]

In [11]:
u="UPDATE Persons SET FirstName = roit WHERE PersonID = 19;"
u=word_tokenize(u)
#print(u[9])
if u[-1]==";":
    if u[0]=="UPDATE" or "update":
        if u[1]==tablename:
            if u[2]=="SET" or "set":
                for i in range(0,len(column_i)):
                    if u[3]==column_i[i]:
                        index1=i
                        if u[4]=="=":
                            if u[6]=="WHERE" or "where":
                                for i in range(0,len(column_i)):
                                    if u[7]==column_i[i]:
                                        if u[8]=="=":
                                            for j in range(0,len(A)-1):
                                                for i in range(0,len(column_Values)):
                                                    if u[9]==column_Values[i]:
                                                        print("Previous table is  ",A)
                                                        A[j+1][index1] = u[5]
                                                        #print(A[1][index1])
                                                        print("\nNew table is       ",A)
                                                        break
                                                    else:
                                                        print("NOT found any value")
                                                        break
                                                break
                                        else:
                                            print("it should be =")
                                        break
                                    else:
                                        print("Column name not found ")
                                        break 
                            else:
                                print("it should be WHERE")
                        else:
                            print("it should be =")
                        break
                    '''else:
                        print("Column name not foundk")
                        break'''
            else:
                print("it should be SET")
        else:
            print("tablename wrong")
    else:
        print("it should be UPDATE or update")
else:
    print("it should be ; IN LAST")

Previous table is   [['PersonID', 'FirstName', 'LastName', 'Mob'], ['19', 'Alf', 'kr', '5596545']]

New table is        [['PersonID', 'FirstName', 'LastName', 'Mob'], ['19', 'roit', 'kr', '5596545']]